
  
  video {
    display: block;
  }
  
  section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }


  .removed {
    display: none;
  }
  
 
 
  
  .camView p {
    position: absolute;
    padding: 5px;
    background-color: rgba(255, 111, 0, 0.85);
    color: #FFF;
    border: 1px dashed rgba(255, 255, 255, 0.7);
    z-index: 2;
    font-size: 12px;
  }


  canvas {
    position:relative;
    z-index: 2;
  }
  img{position:absolute;z-index:1;}

  #container{
    display:inline-block;
    width:680px; 
    height:880px;
    margin: 0 auto; 
    position:relative;
    box-sizing: content-box; 
}

form {
    width: 100%;
 
}


  
